* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    height: 100%;
}


/* 解决cascader-menu的bug */

.el-cascader-menu {
    height: 240px;
}


/* .el-button {
    margin-bottom: 15px;
} */

.el-card {
    margin-top: 15px;
    /* min-width: 1300px; */
}

.min1500 {
    min-width: 1600px;
}

.el-dialog__header {
    padding: 0px;
}

.el-dialog__title {
    background: #797979;
    display: block;
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
}

.el-icon-close:before {
    position: absolute;
    top: -10px;
    right: 1px;
}